root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space

[*.py]
insert_final_newline = true

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2
