asgiref==3.6.0
cffi==1.15.1
cryptography==38.0.4
dj-rest-auth==2.2.5
Django==4.1.4
django-extensions>=3.2.1
django-js-asset==2.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==20.1.0
joblib==1.2.0
MarkupSafe==2.1.1
numpy==1.24.0
pandas==1.5.2
psycopg2-binary==2.9.5
pycparser==2.21
PyJWT==2.6.0
pyOpenSSL==22.1.0
python-dateutil==2.8.2
pytz==2022.7
scikit_learn==1.2.0
scipy==1.9.3
six==1.16.0
sklearn==0.0.post1
sqlparse==0.4.3
threadpoolctl==3.1.0
tzdata>=2022.6
Werkzeug==2.2.2
portalocker>=2.6.0
# windows-curses==2.3.1